# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Virtual Environments
env/
venv/
ENV/
.venv/

# VS Code or PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Migrations
**/migrations/
